
/* Template styles (style.css)
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 5rem;
  margin-bottom: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

ol > li { background: aliceblue; }
ol > li:nth-of-type(even) {
    background: AntiqueWhite;
}
p {
    font-size: 16px;
	
}